
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('assets/bgimage.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.partners_frame {
    text-align: center;
    padding: 50px 20px;
}


.partners_frame h1 {
    color: black;
    margin-bottom: 40px;
    font-family: 'DM sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -5%;

}


.partners_frame ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 0;
    margin: 0;
}


.partners_frame li {
    display: flex;
    align-items: center;
}


.partners_frame img {
    filter: grayscale(100%); 
    opacity: 0.8;
}

@media (max-width: 768px) {
    .partners_frame ul {
        flex-direction: column;
        gap: 30px;
    }

    .partners_frame img {
        width: 100px; 
    }
}
